.track{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.track .time{
    display: flex;
    align-items: center;
    color: #748D1C;
    font-weight: 500;
    font-size: 14px;
    margin-left: 20px;
}
.tracker{
    /* width: 100px; */
}

.player-item{
    position: relative;
    width: 500px;
    border: 1px solid #748D1C;
    background: rgba(66,162,69, 0.1);
    padding: 5px 10px;
    margin-bottom: 40px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}
.player-item-img {
    position: absolute;
    top: 0px;
    left: 20px;
    overflow: hidden;
    height: 108px;
    width: 108px;
    margin: 5px;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 0px rgba(0,0,0,0.9);/*For webkit browsers*/
    -moz-box-shadow: 1px 1px 0px rgba(0,0,0,0.9);/*For Firefox*/
    box-shadow: 1px 1px 5px rgba(0,0,0,0.9);
    /* animation: rotation 5s infinite linear; */
}

.player-item-img img{
    height: 100%;
    width: 100%;
}

.player-item-content{
    margin-left: 200px;
}

.play-seek-btn-container{
    display: flex;
    align-items: center;
    margin-left: 0;
    /* margin-right: auto; */
}
.play-seek-btn{
    margin-left: 15px;
    padding: 5px;
    border-radius: 50%;
    color: white;
    background-color: #748D1C;
    -webkit-box-shadow: 1px 1px 0px rgba(0,0,0,0.9);/*For webkit browsers*/
    -moz-box-shadow: 1px 1px 0px rgba(0,0,0,0.9);/*For Firefox*/
    box-shadow: 1px 1px 5px rgba(0,0,0,0.9);
}
.download{
    margin-bottom: -10px;
    margin-left: 15px;
    font-size: 26px;
    padding: 5px;
    border-radius: 50%;
    color: #000;
}
.download:hover{
    color: #748D1C;
    cursor: pointer;
}

.downloaded{
    color: #748D1C;
}

.truncate{
    font-size: 14px;
    font-weight: 400;
    color: #000;
    margin-bottom: 0;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rotate{
    animation: rotation 5s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  @media only screen and (max-width: 768px) {
    .player-item{
        width: 320px;
        padding: 8px;
    }
    .player-item-img {
        height: 80px;
        width: 80px;
        top: 10%;
        left: 3px;
    }
    
    .player-item-content{
        margin-left: 100px;
    }
    .play-seek-btn-container{
        margin-left: -5px;
    }
    .play-seek-btn{
        margin-left: 10px;
        padding: 2px;
    }
  }